:root {
  --PrimaryColor: hsl(199,100%, 33%);
  --SecondaryColor: hsl(187,85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187,85%,43%), hsl(199,100%,33%));
  --WhiteColor: hsl(0,0%, 100%);
  --blackColor: hsl(201,33%, 16%);
  --textColor: hsl(240,4%, 36%);
  --whiteColorDeam: hsl(0,0%, 93%);
  --geryText: rgb(190,190, 190);
  --inpuitColor: rgb(239,239, 239);
  --bodyColor: rgb(240,240, 246);
  --cardBG: rgb(225,225, 225);
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.123);
}
.header .logo {
  color: var(--blackColor);
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.header .logo .icon {
  font-size: 25px;
  color: var(--whiteColorDeam);
  transform: translateY(5px);
}
.header .logo h1 {
  color: white;
}
@media screen and (max-width: 768px) {
  .header .navBar {
    position: absolute;
    background: var(--blackColor);
    height: -moz-max-content;
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: -500rem;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
    transition: 0.5s ease-in-out;
  }
  .header .navBar .navLists {
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    margin: auto;
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem {
    padding: 0.5rem 0;
    margin-left: 1px;
  }
  .header .navBar .navLists .navItem .navLink {
    color: var(--whiteColorDeam);
    font-size: 0.9rem;
    font-weight: 600;
  }
  .header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .header .navBar .navLists .btn {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--WhiteColor);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: var(--WhiteColor);
    font-weight: 500;
  }
  .header .navBar .navLists .btn:hover {
    background: #fff;
  }
  .header .navBar .navLists .btn:hover a {
    color: black;
  }
  .header .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--WhiteColor);
  }
  .header .navBar .closeNavbar:hover {
    color: var(--SecondaryColor);
  }
  .header .activeNavbar {
    top: 7rem;
  }
}
.header .toggleNavbar .icon {
  font-size: 25px;
  color: var(--WhiteColor);
}
.header .toggleNavbar:hover.icon {
  color: var(--SecondaryColor);
}

@media screen and (min-width: 769px) {
  .toggleNavbar, .closeNavbar {
    display: none;
  }
  .navItem a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
  .navItem a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5;
    left: 0px;
    bottom: -6px;
    transform: scaleX(0);
    transition: 0.5s;
  }
  .navItem a:hover::after {
    transform: scaleX(1);
  }
  .btn {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--WhiteColor);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: var(--WhiteColor);
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
  }
  .btn:hover {
    background: #fff;
  }
  .btn:hover a {
    color: black;
  }
}/*# sourceMappingURL=navbar.css.map */