.itemNavVer{
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.itemNavVer p{
    margin: 0;
    font-weight: 600;
    color: var(--claro);
}
.itemNavVer .icon{
    position: absolute;
    right: 0;
    top: 0;
    display: grid;
    justify-content: center;
    background-color: var(--osc);
    color: var(--claro);
    height: 100%;
    width: 50px;
    align-items: center;
}

.itemNavVer .active{
    border: solid #fff 2px;
    color: #fff;
}