@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');

:root {
  --prin: #c4d600;
  --segun: #1a237e;
  --verde: #39b54a;
  --ama: #fecd04;
  --red: #da1b1b;
  --claro: #f5f5f5;

  --btn: linear-gradient(to right, #c4d600, #88bf00);
  --fondo: linear-gradient(to right, #191928, #323232);
  --modal: #11111fd8;
  --osc: #11111f;
  --osctrans: #11111fde;
  
  --titulos: Roboto, 'Arima Madurai', cursive;
  --subtitulos: Oswald, 'Arima Madurai', cursive;
  --parrafos: Poppins, sans-serif;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a{text-decoration: none;}

#main{
  background-color: var(--osc);
  width: 100%;
  min-height: 100vh;  
}

.contGener{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.contGener .contRoot{
  position: relative;
  width: 100%;
  color: var(--claro);
  padding-top: 75px;
}

.alert{
  position: absolute;
  width: 35%;
  padding: 0 10px;
  margin: 25px auto 0;
  bottom: 50px;
}
.alert p{
  font-size: .8em;
  text-align: center;
  color: var(--segun);
  border: solid 2px var(--segun);
  border-radius: 5px;
  margin: 2.5px;
}
.tv_icon{
  width: 40px;
  filter: invert(100%);
  margin: 5px 10px 5px 0;
}
.flexCar{
  display: flex;
}
.card-body{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  
  & h3,
  & p{
    margin: 5px;
  }
  & a{
    width: 150px;
    height: 40px;
    border-radius: 5px;
  }
}
.msjInfo{
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2.5em;
  color: var(--claro);
  padding-top: 100px;

  &>img{
    width: 200px;
    margin-bottom: 15px;
  }
}

.contTitle{
  display: flex;
  justify-content: space-between;
}


/* GRID */
.container{
  width: 100%;
  padding-top: 25px;
  max-width: 1290px;
  margin: auto;
}
.container-fluid{
  max-width: 100%;
}
.c1-2{
  width: 50%;
  float: left;
}
.c1-1{
  width: 100%;
  float: left;
}

/* BOTONES */
.btnA{
  border: none;
  border-radius: 5px;
  height: 35px;
  padding: 0 10px;
  font-weight: 600;
  background: transparent;
  border: none;
  transition: all .5s;
}

.btnCar4x4{
  width: 35px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--segun);
  border: solid 2px var(--prin);
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.btn-4x4{
  position: relative;
  width: 40px;
  height: 40px;
  margin: 2.5px;
  background-color: transparent;
  color: var(--prin);
  border: none;
  cursor: pointer;
  transition: all .2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-4x4::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: transparent;
  border: solid var(--prin) 2px;
}
.btn-4x4:hover{
  color: var(--claro);
}
.btn-4x4:hover:after{
  animation: 1s btn-med;
}
.btn-4x4::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  background-color: transparent;
  border-left: solid 2px var(--osc);
  border-right:solid 2px  var(--osc);
  z-index: 1;
}

.btnCar4x1Link{
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--segun);
  border: solid 2px var(--prin);
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.btnPrimary{
  width: 100%;
  height: 35px;
  color: var(--osc);
  font-weight: 700;
  letter-spacing: .5px;
  background: var(--btn);
}
.btn4x1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--segun);
  color: var(--claro);
  font-weight: 600;
  border: solid 2px var(--segun);
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.btnCar4x4:hover{
  background: transparent;
  border: solid 2px var(--segun);
  box-shadow: 0 0 5px var(--segun),
  inset 0 0 5px var(--segun);
}

.btn4x1:hover{
  background-color: var(--prin);
  color: var(--segun);
  border: solid 2px var(--prin);
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 50px;
}


.labelBtn {
  position: absolute;
  background: var(--fondo);
  bottom: 0px;
  padding: 10px 20px 0;
  border-radius: 10% 10% 0 0 ;
  left: 50%;
  transform: translate(-50%, 0);
  align-items: center;
  cursor: pointer;
  color: #394a56;
  z-index: 10;
  color: var(--prin);

  & .label-text {
    margin-left: 16px;
  }

  & .toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -1px -2px 3px 0px var(--prin),
      1px 2px 3px 0px var(--prin),
      2px 2px 2px 0px var(--prin) inset,
      -2px -2px 2px 0px var(--prin) inset;
  }
  
  & .toggle-state {
    display: none;
  }
  
  & .indicator {
    height: 100%;
    width: 200%;
    background: var(--claro);
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow: -5px -4px 5px 0px var(--claro),
      5px 4px 5px 0px var(--claro);
  }
  
  & .toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
  }
}


/* COLOR */
.primary{
  background: var(--btn);
  border: solid 2px var(--btn);
  color: var(--segun);
}
.primary-lin{
  background: transparent;
  border: solid 2px var(--prin);
  color: var(--claro);
}
.primary-lin-med{
  position: relative;
  min-width: 200px;
  height: 40px;
  margin: 2.5px;
  background-color: transparent;
  color: var(--prin);
  border: none;
  cursor: pointer;
  transition: all .2s;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    background-color: transparent;
    border-left: solid 2px var(--osc);
    border-right:solid 2px  var(--osc);
    z-index: 1;   
  }
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-color: transparent;
    border: solid var(--prin) 2px;
  }
  
  &:hover{
    color: var(--claro);

    &:hover:after{
      animation: 1s btn-med;
    }    
  }
}

@keyframes btn-med {
  0% {
      height: 100%;
      top: 0%;
    }
    
    50% {
      height: 0%;
      top: 50%;
    }
    100% {
      height: 100%;
      top: 0%;
  }
}
.primary-lin:hover{
  background: var(--btn);
  border: solid 2px var(--prin);
  color: var(--segun);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tituloCard{
  font-size: 1.5m;
  text-transform: uppercase;
  font-family: var(--titulos);
  font-weight: 700;
}

.cardProdGen{
  background-color: #3498db;
  font-family: var(--titulos);
  border-radius: 10px;

}

/* LOGIN */
.loginCont{
  position: relative;
  margin: auto;
  display: flex;
  width: 100%;
  max-width: 800px;
  min-height: 500px;
  margin: 100px auto;
  background-color: var(--claro);
  overflow: hidden;
  border-radius: 30px;

  & .contForm{
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &:nth-child(1) {
      background-color: #a2ac90;
    }
    
  }
  & .imgLogin{
      position: absolute;
      width: 50%;
      height: 100%;
      z-index: 1;
      right: 0%;
      transition: all .3s ease-in-out;
      
      & img{
        object-fit: cover;  
        width: 100%;
        height: 100%;
        top: 0;
      }
    }
    
  & .active{
    right: 50%;
    transition: all .3s ease-in-out;
  }

  & .loginForm{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  & .loginForm .logoLogin{
    width: 125px;
    margin-bottom: 25px;
  }
}



/* Formularios */
.formProd{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formProd-reg {
  position: relative;
  width: 100%;
  background-color: #3498db;
  display: block;
}
.formProd-reg div,
.formProd div{
  position: relative;
}
.formProd div span{
  position: absolute;
  top: 15px;
  right: 0px;
  font-size: .8em;
  color: var(--segun);
}
.formProd-reg div label,
.formProd label{
  position: absolute;
  top: 35px;
  left: 10px;
  font-size: .8em;
  color: var(--segun);

}

.formProd-reg div input,
.formProd div input{
  color: var(--segun);
  border: none;
  background-color: transparent;
  border-bottom: solid 2px var(--prin);
  width: 100%;
  height: 35px;
  margin: 2.5px;
  padding-left: 10px;
  float: left; 
}

.formProd .btn{
  margin-top: 15px;
}
/*
}
.formProd-reg div label,
.formProd div label{
}

  .formProd-reg{
    width: 100%;
    display: inline-block;
  } */

  .bgDeg{
    background: var(--btn);
  }