:root {
  --PrimaryColor: hsl(199,100%, 33%);
  --SecondaryColor: hsl(187,85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187,85%,43%), hsl(199,100%,33%));
  --WhiteColor: hsl(0,0%, 100%);
  --blackColor: hsl(201,33%, 16%);
  --textColor: hsl(240,4%, 36%);
  --whiteColorDeam: hsl(0,0%, 93%);
  --geryText: rgb(190,190, 190);
  --inpuitColor: rgb(239,239, 239);
  --bodyColor: rgb(240,240, 246);
  --cardBG: rgb(225,225, 225);
}

.home {
  width: 100%;
  position: static;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #24262B;
}
.home .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(47, 106, 127);
  top: 0;
  bottom: 0;
  z-index: 1;
  mix-blend-mode: hard-light;
}
.home video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .showwrp {
  display: flex;
}
.home .showwrp .btnhome {
  width: 250px;
  height: 50px;
  background: transparent;
  border: 2px solid var(--WhiteColor);
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: var(--WhiteColor);
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
  margin-left: 1px;
}
.home .showwrp .btnhome:hover {
  background: #fff;
  color: black;
}
.home .homeContent {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 8rem 1.5rem 3rem;
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  color: var(--WhiteColor);
  z-index: 100;
  justify-content: center;
}
.home .homeContent .textDiv {
  padding: 2rem 0;
  float: left;
}
.home .homeContent .textDiv .smallText {
  font-size: 13px;
  text-transform: uppercase;
}
.home .homeContent .textDiv .homeTitle {
  position: relative;
  font-size: 3rem;
}
.home .homeContent .icon {
  font-size: 1.5rem;
}
.home .homeContent .wrapper {
  align-self: center;
  top: -150rem;
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-color: var(--WhiteColor);
  border-style: solid;
  border-width: 4px;
  box-shadow: 0 0 50px var(--blackColor);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.home .homeContent .wrapper .hidewrp {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: var(--WhiteColor);
}
.home .homeContent .wrapper .hidewrp .icon {
  font-size: 2rem;
}
.home .homeContent .wrapper .hidewrp:hover {
  color: var(--blackColor);
}
.home .homeContent .activeWrapper {
  top: -15rem;
}
.home .homeContent .wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.home .homeContent .form-box h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.home .homeContent .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom-style: solid;
  margin: 30px 0;
}
.home .homeContent .input-box label {
  position: absolute;
  top: 130%;
  left: 5px;
  transform: translateY(-50px);
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.home .homeContent .input-box input:focus ~ label,
.home .homeContent .input-box input:valid ~ label {
  top: 70%;
}
.home .homeContent .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}
.home .homeContent .input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  line-height: 57px;
  top: 20%;
}
.home .homeContent .remember-forgot {
  font-size: 0.9em;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.home .homeContent .remember-forgot label input {
  margin-right: 4px;
}
.home .homeContent .remember-forgot a {
  text-decoration: none;
}
.home .homeContent .remember-forgot a:hover {
  text-decoration: underline;
}
.home .homeContent .btn {
  width: 100%;
  margin-left: 0px;
}
.home .homeContent .btn:hover {
  color: #20d410;
}
.home .homeContent .login-register {
  font-size: 0.9em;
  text-align: center;
  font-weight: 500;
}
.home .homeContent .login-register p a {
  color: #15ff00;
  font-weight: 500;
}/*# sourceMappingURL=home.css.map */