.cartButtons{
    display: flex;
    
    & .btn{
      width: calc(100% - 5px);
      margin-right: 10px;
    }
}
.contDeg{
    background: var(--btn);
    border-radius: 5px;
    height: 35px;
    
    & p{
        font-size: 1.3em;
      font-weight: 700;
      color: var(--osc);
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
}

.contItemCar{
    width: 100%;
    background: var(--fondo);
    color: var(--claro);
    margin: 10px 0;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    gap: 10px;

    &>figure{
        & img{
            width: 150px;
            height: 150px;
            border-radius: 150px;
            object-fit: cover;
        }
    }

    & .carPrecio{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    & .contBtnCar{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .contBtnCarCant{
            display: flex;
            gap: 10px;
            margin: 0 0 20px 0;

            & input{
                border-radius: 10px;
                width: calc(100% - 60px);
            }

        }
        & .btnPrimary{
            position: relative;
            height: 50px;
            
          & img{
            height: 85%;
          }
        }
    }
}