@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Colors and styling*/

:root{
    --PrimaryColor: hsl(199,100%, 33%);
    --SecondaryColor: hsl(187,85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187,85%,43%), hsl(199,100%,33%));
    --WhiteColor: hsl(0,0%, 100%);
    --blackColor: hsl(201,33%, 16%);
    --textColor: hsl(240,4%, 36%);
    --whiteColorDeam: hsl(0,0%, 93%);
    --geryText: rgb(190,190, 190);
    --inpuitColor: rgb(239,239, 239);
    --bodyColor: rgb(240,240, 246);
    --cardBG: rgb(225,225, 225);
}

a{
   text-decoration: none; 
}

li{
    list-style: none;

}

.section{
    padding: 4rem 0 2rem;
}
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon{
    font-size: 2rem;
    cursor: pointer;
    
    
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
}

.btn{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--WhiteColor);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color:var(--WhiteColor);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

  
}

.btn a{
    color: var(--WhiteColor);
    font-weight: 500;
}

.btn:hover{
    background: var(--SecondaryColor);
}

img, video{
    width: 100%;
    height: auto;
}

input{
    font-size: 100%
}

body{
    background: var(--bodyColor);
}

